* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #fafafa;
  overflow-x: hidden;
}

.topo {
  background-color: #ffffff;
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #dbdbdb;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.topo-container {
  display: flex;
  width: 935px;
  margin: 0 auto;
}

.icone {
  font-size: 20px;
  padding: 18px;
}

.instagram img {
  width: 103px;
  padding: 16px;
}

.pesquisar {
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
  width: 215px;
  height: 28px;
  color: #979797;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 180px;
  margin-top: 14px;
}

::placeholder {
  text-align: center;
}

.simbolos {
  display: flex;
  align-items: center;
  margin-left: 190px;
  font-size: 20px;
}

.paper-plane {
  width: 35px;
}

.compass {
  width: 35px;
}

.coracao {
  width: 35px;
}

.person {
  width: 35px;
}

.container {
  display: flex;
  width: 935px;
  margin: 75px auto;
  background-color: #fafafa;
}

.box-right {
  display: flex;
  flex-direction: column;
}

.story {
  background: -webkit-linear-gradient(left top, crimson 0%, #f90 100%);
  width: 56px;
  height: 56px;
  border-radius: 56px;
  padding: 2px;
}

.seta {
  position: absolute;
  color: #ffffff;
  font-size: 25px;
  z-index: 2;
  left: 585px;
  margin: 40px 0;
  filter: drop-shadow(-2px 2px 2px Black);
}
.story img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 56px;
  border: 2px solid white;
  box-sizing: border-box;
}

h2 {
  font-size: 12px;
  color: #262626;
  display: flex;
  justify-content: center;
  line-height: 18px;
}
.feed {
  margin-top: 40px;
}

.pic-box {
  width: 612px;
  margin-bottom: 40px;
  border: 1px solid #dbdbdb;
}

.pic-header {
  background-color: #ffffff;
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.pic-header-menu {
  margin: auto 10px auto 0;
}

.pic-header-profile {
  display: flex;
  margin-left: 10px;
}

.pic-header-profile-img {
  width: 50px;
  height: 50px;
}

.pic-header-profile-img img {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  font-size: 15px;
  margin: auto 0 auto 10px;
  color: #262626;
  font-weight: 500;
}

.pic {
  width: 612px;
  height: 612px;
}
.pic img {
  width: 100%;
  height: 100%;
}

.pic-footer {
  background-color: #ffffff;
  height: 70px;
}

.pic-icons-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pic-icons-right {
  margin: 10px 0 0 8px;
  color: #000000;
  font-size: 20px;
}

.pic-icons-right button {
  font-size: 20px;
}

.heart {
  color: red;
}

.pic-icons-left {
  margin: 10px 8px 0 0;
  color: #000000;
  font-size: 20px;
}

.pic-icons-left button{
  color: #000000;
  font-size: 20px;
}

.likes {
  margin: 8px 0 0 8px;
  display: flex;
}

.likes p {
  margin-left: 5px;
}

.curtidas img {
  margin-left: 8px;
  margin-bottom: 10px;
  display: flex;
}

.curtidas {
  display: flex;
}

.curtidas p {
  font-size: 14px;
  margin-top: 5px;
  margin-left: 5px;
  white-space: nowrap;
}

.sidebar {
  background-color: #fafafa;
  z-index: 1;
  width: 293px;
}

button{
  background-color: #fafafa;
  border: none;
}

.perfil {
  background-color: #fafafa;
  display: flex;
  margin-top: 30px;
  margin-left: 15px;
}

.foto-do-perfil img {
  max-width: 60px;
  max-height: 60px;
  border-radius: 60px;
  border: 2px solid white;
  box-sizing: border-box;
}

.user-info {
  margin-top: 18px;
}

.user-info h1 {
  font-size: 14px;
  color: #262626;
}

.user-info p {
  font-size: 14px;
  color: #8e8e8e;
  margin-left: 10px;
}

.username {
  display: flex;
}

.sugestoes-header {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}

.sugestao-titulo p {
  font-size: 12px;
  color: #8e8e8e;
}

.ver-tudo {
  font-size: 12px;
  color: #262626;
}
.sugestao {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sugestao img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.sugestao-info {
  margin-right: 100px;
  margin-top: 5px;
}

.sugestao-nick {
  font-size: 14px;
  color: #262626;
  font-weight: 500;
}

.sugestao-username {
  font-size: 12px;
  color: #8e8e8e;
}

.seguir-link {
  margin-top: 10px;
  margin-right: 20px;
  font-size: 12px;
  color: #139ef2;
}

.stories-box {
  background-color: #ffffff;
  width: 614px;
  height: 118px;
  overflow: hidden;
  position: relative;
  border: 1px solid #dbdbdb;
}

.stories {
  display: flex;
  justify-content: space-around;
  width: 720px;
  margin: 20px 0;
  position: absolute;
}

.info {
  font-size: 11px;
  line-height: 12.89px;
  color: #c7c7c7;
  margin-left: 18px;
  margin-top: 20px;
}

.since {
  font-size: 11px;
  line-height: 12.89px;
  color: #c7c7c7;
  margin-left: 18px;
  margin-top: 20px;
}

.keyword {
  font-weight: 700;
}

.mobile {
  width: 612px;
  height: 54px;
  margin-left: 1px;
  background-color: #fafafa;
  border-bottom: 1px solid #dbdbdb;
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
}

.simbolos-mobile {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  margin: 15px 0;
}

.mobile-topo {
  background-color: #fafafa;
  width: 612px;
  height: 30px;
  border-bottom: 1px solid #dbdbdb;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}
.mobile-container {
  display: flex;
  justify-content: space-between;
}

.paper-plane-mobile {
  display: flex;
  align-items: center;
  margin-left: 120px;
  font-size: 20px;
}

.instagram-mobile {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

@media (max-width: 935px) {
  .sidebar {
    display: none;
  }
}

@media (max-width: 614px) {
  .topo {
    display: none;
  }

  .mobile-topo {
    display: initial;
    height: auto;
    width: 100%;
    z-index: 2;
  }

  .mobile {
    display: initial;
    width: 100%;
  }

  .topo-container {
    width: 100%;
    margin: auto;
  }

  .instagram img {
    width: 100%;
    margin: auto;
  }

  .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .stories-box {
    background-color: #fafafa;
  }
  .stories-container {
    width: 100%;
    margin: auto;
  }

  .seta {
    display: none;
  }

  .pic-box {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
  }
  .box-right {
    width: 100%;
    height: auto;
  }

  .pic {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}
  

